{% extends 'base2.html' %}
{% block content %}

<form class="my-form" style="margin-top: 20vh;" method="post">{% csrf_token %}
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Change password</div>
                        <div class="card-body">
                                <div class="form-group row">
                                    <label for="phone_number" class="col-md-4 col-form-label text-md-right">Old password</label>
                                    <div class="col-md-6">
                                        <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="phone_number" class="col-md-4 col-form-label text-md-right">New password</label>
                                    <div class="col-md-6">
                                        <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="phone_number" class="col-md-4 col-form-label text-md-right">New password conformation</label>
                                    <div class="col-md-6">
                                        <input name="new_password2" class="form-control" placeholder="New password" type="password" id="id_new_password2" required="true">
                                    </div>
                                </div>                                
                              	{% if registration_form.errors %}
                              		<div>
    								{% for field in registration_form %}
								        {% for error in field.errors %}
								        	<div class="form-group row" style="color:red; padding-left: 50vh;">
			                                    <p style="margin-bottom: 0.01vh;">{{error}}</p>
			                                </div>
								        {% endfor %}
								    {% endfor %}    	
									</div>
								{% endif %}
                                <div>
                                    {% if login_form.non_fieled_errors %}
                                        <div  class="form-group row" style="color:red; padding-left: 50vh">
                                            <p style="margin-bottom: 0.01vh;">{{login_form.non_fieled_errors}}
                                            </p>
                                        </div>
                                    {% endif %}
                                </div>	
                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                        Register
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}